/* Paleta de Cores
 - Branco -
#FAFAFA - Branco

 - Preto -
#212121 - Preto Claro
#1F1F1F - Preto Médio Claro
#525252 - Preto Médio
#3D3D3D - Preto Escuro
#141414 - Preto Escuro
#0A0A0A - Preto
*/

* {
    margin: 0;
    padding: 0;
}

body {
    background: #212121;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #FAFAFA;
}

header {
    background: #FAFAFA;
    color: #212121;
    padding: 20px;
    width: 100%;
    height: auto;
    text-align: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header p {
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    width: 100%;
}

nav {
    background: #FAFAFA;
    color: #212121;
    padding: 20px;
    border: 1px solid #3D3D3D;
    width: auto;
    height: auto;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    color: #FAFAFA;
    text-align: center;
    margin-top: 20px;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    color: #FAFAFA;
    text-align: center;
    margin-top: 20px;
}

h3 {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

p {
    font-size: 1.2em;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: #212121;
    font-weight: bold;
}

button {
    border-radius: 5px;
    border: none;
    background: #1F1F1F;
    color: #FAFAFA;
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px;
    margin-top: 20px;
}

footer {
    background: #212121;
    color: #FAFAFA;
    font-size: 1.2em;
    text-align: center;
    padding: 10px;
    width: 100%;
    margin-top: 20px;
}

footer p {
    margin-top: 10px;
}

.sessao {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.card {
    width: auto;
    height: auto;
    margin-top: 20px;
    background-color: #FAFAFA;
    border-radius: 10px;
    color: #212121;
    padding: 20px;
}

#container {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

#descricao {
    font-size: 1.2em;
    text-align: left;
    margin-top: 20px;
}