/* Paleta de Cores
#FAFAFA - Branco
#212121 - Preto Claro
#1F1F1F - Preto Médio Claro
#525252 - Preto Médio
#3D3D3D - Preto Escuro
#141414 - Preto Escuro
#0A0A0A - Preto
*/

* {
    margin: 0;
    padding: 0;
}

#pagina-principal {
    max-width: 800px;
    margin: 0 auto;
}