<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout 4</title>
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
    crossorigin="anonymous">
</head>
<body>
    <div class="container bg-primary">
        <div class="row p-1" style="min-height: 50px;">
            <div class="col bg-secondary">Logo</div>
            <div class="col bg-success">Navigation</div>
        </div>
        
        <div class="row">
            <div class="col bg-info m-1 p-1">1</div>
            <div class="col bg-info m-1 p-1">2</div>
            <div class="col bg-info m-1 p-1">3</div>
            <div class="col bg-info m-1 p-1">4</div>
        </div>
        <div class="row">
            <div class="col bg-info m-1 p-1">5</div>
            <div class="col bg-info m-1 p-1">6</div>
            <div class="col bg-info m-1 p-1">7</div>
            <div class="col bg-info m-1 p-1">8</div>
        </div>
        <div class="row">
            <div class="col bg-info m-1 p-1">9</div>
            <div class="col bg-info m-1 p-1">10</div>
            <div class="col bg-info m-1 p-1">11</div>
            <div class="col bg-info m-1 p-1">12</div>
        </div>
        <div class="row">
            <div class="col bg-info m-1 p-1">13</div>
            <div class="col bg-info m-1 p-1">14</div>
            <div class="col bg-info m-1 p-1">15</div>
            <div class="col bg-info m-1 p-1">16</div>
        </div>

        <div class="row" style="min-height: 100px;">
            <div class="col bg-secondary m-1">Box 1</div>
            <div class="col bg-success m-1">Box 2</div>
            <div class="col bg-danger m-1">Box 3</div>
        </div>

        <div class="row">
            <div class="col bg-secondary m-1">Footer</div>
        </div>
    </div>

</body>
</html>