<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layouts</title>
    <link rel="stylesheet" href="../../styles/style.css">
</head>
<body>
    <div id="container">
        <header>
            <p>Gabriel Bitencourt Website</p>
            <nav>
                <ul>
                    <li><a href="../../index.html">Início</a></li>
                </ul>
            </nav>
        </header>
        <div class="sessao">
            <h1>Layouts</h1>
            <p>Atividade de Layout com CSS, Flex, Grid e Bootstrap!</p>
            <div class="card">
                <h3>Clique em um botão para ver o layout!</h3>
                <h2>
                <a href="pages/layout1.html"><button>Layout 1</button></a>
                <a href="pages/layout2.html"><button>Layout 2</button></a>
                <a href="pages/layout3.html"><button>Layout 3</button></a>
                <a href="pages/layout4.html"><button>Layout 4</button></a>
                </h2>
            </div>
        </div>
        <footer>
            <p>Desenvolvido por Gabriel Bitencourt Marin</p>
        </footer>
    </div>
    <script src="../../scripts/script.js"></script>
</body>
</html>