<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout 2</title>
    <link rel="stylesheet" href="../styles/layout2.css">
    <link rel="stylesheet" href="../../../styles/style.css">
</head>
<body>
    <div id="container">
        <header>
            <p>Gabriel Bitencourt Website</p>
            <nav>
                <ul>
                    <li><a href="../../../index.html">Início</a></li>
                    <li><a href="../index.html">Voltar</a></li>
                </ul>
            </nav>
        </header>

        <div class="sessao">
            <div id="grid-container">
                <div id="ln">
                    <div id="logo">Logo</div>
                    <div id="navigation">Navigation</div>
                </div>
                <div id="header">Header/Banner</div>
                <div id="intro">IntroTextArea</div>
                <div id="box1">Box 1</div>
                <div id="box2">Box 2</div>
                <div id="box3">Box 3</div>
                <div id="footer">Footer</div>
            </div>
        </div>

        <footer>
            <p>Desenvolvido por Gabriel Bitencourt Marin</p>
        </footer>
    </div>
    <script src="../../../scripts/script.js"></script>
</body>
</html>